  
  <body>

    <label style="color: #737373;font-family: Verdana;font-weight: lighter;position: absolute;left: 370px; top: 750px;">{{submitMessage}}</label>
    <div class="col-md-6 col-md-offset-3">
      <h1>Edit existing clients </h1>

      <h2>Select client: </h2>
      <br>
  
      <select class="form-control" type="text" [(ngModel)]="client" style="width:400px">
          <option *ngFor="let client of ClientList" [ngValue]="client">{{client.name}}</option>
      </select>

      <h2>Edit client initials: </h2>
      <br>
  
      <input class="form-control" type="text" id="cli" placeholder="Client Initials"  [(ngModel)]="client.initials"  #varId="ngModel" style="width:400px">
  
      <h2>Edit connection name: </h2>
      <br>
  
      <input class="form-control" type="text" id="cli" placeholder="Connection Name"  [(ngModel)]="client.connectionName"  #varId="ngModel" style="width:400px">
  
      <h2>Edit endpoint: </h2>
      <br>
  
      <input class="form-control" type="text" id="end" placeholder="Endpoint Address"  [(ngModel)]="client.endpoint"  #varId="ngModel" style="width:400px">
  
      <br>
      <button [disabled]="!model.trim()" (click)="updateClient()"> Update client </button>
      <button [disabled]="!model.trim()" (click)="clientName=null; connectionName=null; endpoint=null"> Clear fields </button>
      <br>
  
    </div>
  </body>