<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="col-md-6 col-md-offset-3">
      <h1>Edit/Consult existing connections </h1>
      <h2>Select connection: </h2>
      <br>
  
      <div class="container">                                        
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Conexão
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
      </div>
  
      <h2>Edit client name: </h2>
      <br>
  
      <input class="form-control" type="text" id="cli" placeholder="Nome do Cliente"  [(ngModel)]="model4"  #varId="ngModel">
  
      <h2>Edit endpoint: </h2>
      <br>
  
      <input class="form-control" type="text" id="end" placeholder="Endereço do endpoint"  [(ngModel)]="model5"  #varId="ngModel">
  
      <br>
      <button [disabled]="!model.trim()" (click)="actualizarConexao()"> Update connection </button>
      <button [disabled]="!model.trim()" (click)="model4=null; model5=null"> Clear fields </button>
  
    </div>
  </body>